.d
.o
junk.o
junk.d
main.o
src/assign.d
src/grade.o
src/dosen.o
src/assign.o
src/dosen.d
src/grade.d
src/mahasiswa.d
src/mahasiswa.o
src/ui.o
src/ui.d
src/search.o
src/search.d
src/matkul.o
src/matkul.d
main.d
src/search.c
.vscode/settings.json
